{% extends 'base.html.twig' %}

{% block title %}Edit Availability{% endblock %}

{% block body %}
    <h1>Modifier une disponibilité</h1>

    {{ include('availability/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('app_availability_index') }}">Retour aux disponibilités</a>

    {{ include('availability/_delete_form.html.twig') }}
{% endblock %}
