{% extends 'base.html.twig' %}

{% block title %}New Availability{% endblock %}

{% block body %}
    <h1>Ajouter une disponibilité</h1>

    {{ include('availability/_form.html.twig') }}

    <a href="{{ path('app_availability_index') }}">Retour aux disponibilités</a>
{% endblock %}
