{% extends 'base.html.twig' %}

{% block title %}Edit Vehicle{% endblock %}

{% block body %}
    <h1>Modification du véhicule</h1>

    {{ include('vehicle/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_vehicle_index') }}">Retour à la liste</a>

    {{ include('vehicle/_delete_form.html.twig') }}
{% endblock %}
